body {
  margin: 0 auto;
}

.container {
  max-width: 900px;
  height: 100vh;
  background-color: green;
}

.row {
  display: flex;
}

.car-container {
  display: flex;
}

.car {
  width: 200px;
  margin: 1rem;
  transition: all 0.5s;
}

.car-turn-right {
  transform: none;
}

.car-turn-down {
  transform: rotate(0.25turn);
}

.car-turn-left {
  transform: rotate(0.5turn);
}

.car-turn-up {
  transform: rotate(0.75turn);
}
